comment: "Converted from Textmate AADL support by Julien Delange <delange@enst.fr> -- feel free to use and modify"
fileTypes: [
  "aadl"
]
foldingStartMarker: "\\b(?i:(package|system|process|data|device|thread|thread group|subprogram))\\b"
foldingStopMarker: "\\b(?i:(end .*))\\b"
name: "AADL"
patterns: [
  {
    captures:
      "1":
        name: "storage.type.function.aadl"
      "2":
        name: "storage.modifier.function.aadl"
      "3":
        name: "entity.name.function.aadl"
    match: "\\b(?i:(abstract|bus|data|device|feature group|memory|process|processor|subprogram|system|thread|thread group|virtual processor|virtual bus|with|))\\b\\s+(implementation\\s+)?(\\w+(\\.\\w+)?|\"(?:\\+|-|=|\\*|/)\")"
    name: "meta.componenttype.aadl"
  }
  {
    captures:
      "1":
        name: "storage.type.package.ada"
      "2":
        name: "keyword.other.body.ada"
      "3":
        name: "entity.name.type.package.ada"
    match: "\\b(?i:(package|properties)(?:\\b\\s+(body))?)\\b\\s+(\\w+(\\.\\w+)?|\"(?:\\+|-|=|\\*|/)\")"
    name: "meta.function.aadl"
  }
  {
    captures:
      "1":
        name: "storage.type.function.ada"
      "2":
        name: "entity.name.function.ada"
    match: "\\b(?i:(end))\\b\\s+(\\w+(\\.\\w+)?|\"(\\+|-|=|\\*|/)\")\\s?;"
    name: "meta.function.aadl"
  }
  {
    match: "\\b(?i:(\\=>|public|private))\\b"
    name: "keyword.others.aadl"
  }
  {
    match: "\\b(?i:(\\=>|features|properties|connections|subcomponents|port|event|data|flows|))\\b"
    name: "keyword.componentspecs.aadl"
  }
  {
    captures:
      "1":
        name: "punctuation.definition.comment.aadl"
    match: "(--)(.*)$\\n?"
    name: "comment.double-dash.aadl"
  }
  {
    captures:
      "1":
        name: "storage.modifier.var1.aadl"
      "2":
        name: "storage.type.var1.aadl"
    match: ".*:\\s*(?:(in|out|in\\s+out)\\s+)?(data port|event port|event data port|port|parameter)(;|\\s+).*"
    name: "meta.function.aadl"
  }
  {
    captures:
      "1":
        name: "storage.modifier.var.aadl"
      "2":
        name: "storage.type.var.aadl"
    match: ".*:\\s*(?:(provides|requires)\\s+)?(bus\\s+access|flow\\s+path|feature group|processor|process)\\s+.*"
    name: "meta.function.aadl"
  }
  {
    captures:
      "1":
        name: "storage.modifier.var.aadl"
      "2":
        name: "storage.type.var.aadl"
    match: ".*:\\s*(abstract|bus|data|device|memory|process|processor|subprogram|system|thread|thread group|virtual processor|virtual bus|)\\s+.*"
    name: "meta.function.aadl"
  }
]
scopeName: "source.aadl"
